<template name="ApplicationLayout">
    <head>
        <title>Login page</title>
    </head>
    
    {{> yield "navbar"}}
    {{> yield "header"}}
    {{> yield "body"}}
    {{> yield "footer"}}

</template>

<template name="empty">
    
</template>