
<template name="loggedin">
    
    <div class="row" style="margin: 12.5% 25%;">
        <div class="">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">You are here</span>
              <p>Glad to see that you finally logged in. <br /> Enjoy your visit.</p>
            </div>
            <div class="card-action">
              <a href="#">{{currentUser.username}}</a>
              <a href="#">{{currentUser._id}}</a>
            </div>
          </div>
        </div>
    </div>
  
</template>