

<template name="navbar">
  
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Edit</a></li>
    <li><a href="#!">Settings</a></li>
    <li class="divider"></li>
    <li class="logout"><a href="#!">Logout</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">CSS App</a>
      <ul class="right hide-on-small-only">
        {{#if currentUser}}
        <li><a href="#!"><i class="fa fa-comments"></i><span class="new badge">4</span></a></li>
        {{/if}}
        
        <!-- Dropdown Trigger -->
        {{#if currentUser}}
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">
        <span>{{currentUser.username}}</span> <i class="fa fa-caret-down"></i>
        </a></li>
        {{else}}
        <li><a href="/"><span>Log in</span></a></li>
        {{/if}}
      
      </ul>
    </div>
  </nav>
  
</template>

<template name="login">
  <div class="container">
    <div class="row" style="margin: 12.5% 25%;">
      <h3>Log in</h3>
      <br />
      <div id="form-messages"></div>
      <br />
      <form name="loginForm">
        <div class="row">
          <div class="input-field ">
            <input id="username_email" type="text" class="validate" name="username_email">
            <label for="username_email">Uername or Email</label>
          </div>
        </div>
        <div class="row"> 
          <div class="input-field ">
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
          </div>
        </div>
        <button class="waves-effect waves-light btn col s12 m12 l12" type="submit" name="login">Log in</button>
        <br /><br />
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      </form>
    </div>
  </div>
</template>

<template name="footer">
  
</template>
