
<template name="register">
    <div class="container">
        <div class="row" style="margin: 12.5% 25%;">
            <h3>Sign Up</h3>
            <br />
            <div id="form-messages"></div>
            <br />
            <form name="registerForm">
                <div class="row">
                    <div class="input-field ">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field ">
                        <input id="username" type="text" class="validate">
                        <label for="username">Uername</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field">
                      <input id="password" type="password" class="validate">
                      <label for="password">Password</label>
                    </div>
                </div>
                <button class="waves-effect waves-light btn red col s12 m12 l12" type="submit" name="login">Sign Up</button>
                <br /><br />
                <p>Already have an account? <a href="/">Log in</a></p>
            </form>
        </div>
    </div>
</template>